.debate-player {
  overflow: hidden;
  padding: 4px;

  audio {
    display: block;
    width: 100%;
    margin: 8px 0;
  }

  h2 {
    margin: 0;
    line-height: 1.2em;
  }

  p {
    font-size: 16px;
  }

  .show-transcript {
    background: @mdBlue;
    font-family: @df-sans;
    display: inline-block;
    color: white;
    padding: 5px 8px 4px 8px;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    position: relative;

    &:hover {
      background: @dkOrange;
    }

    i.fa {
      position: absolute;
      right: 8px;
      font-weight: bold;
      padding-top: 2px;
    }
  }

  .transcript {
    clear: both;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    color: @df-middle-gray;
    font-family: @df-sans;
    font-size: 13px;
    position: relative;
    border-top: 1px solid @df-blue;
    // border-bottom: 1px solid @df-blue;
    background-image: linear-gradient(to bottom, #EEE, white 5%, white 95%, #EEE);

    display: block;
    @media @mobile {
      display: none;
    }

    &.toggle {
      display: none;
      @media @mobile {
        display: block;
      }
    }

    .active {
      color: @df-dark-gray;
      font-weight: bold;
    }

    li {
      margin: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid @df-light-gray;
      cursor: pointer;
    }
  }

  .stage {

    .speaking {
      display: none;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      font-family: @df-sans;
    }

    .debate {
      width: 100%;
    }

    &[data-speaker] {
      padding: 12px 0;
      font-size: 15px;

      .speaking {
        display: block;
        padding-bottom: 5px;
      }
    }

    .speaker {
      display: none;

      .name {
        font-weight: bold;
      }
    }

    .make-speaker(@speaker) {
      &[data-speaker=@{speaker}] .@{speaker} {
        display: block;
      }
    }

    .make-speaker(cherberg);
    .make-speaker(talmadge);
    .make-speaker(pullen);
    .make-speaker(rasmussen);
    .make-speaker(fleming);
    .make-speaker(metcalf);
  }

}