.about-box {
  .flex(1);
  padding-right: 20px;

  @media @mobile {
    padding-right: 0px;
  }
}

.colophon {
  .flex(1);
  display: block;
  padding-left: 20px;

  @media @mobile {
    padding-left: 0px;
  }
  
  .credits {
    font-size: 15px;
    padding: 0;
    list-style-type: none;

    li {
      padding-bottom: 5px;
    }
  }
}

footer.bar {
  background: @dkBlue;
  opacity: 0.95;
  padding: 8px 8px 4px 8px;
  position: relative;
  z-index: 99;

  .logo {
    float: left;
    margin-right: 10px; 
    
    img {
      margin-top: 5px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }

  .share.bottom {
    float: right;
    margin-top: 2px;

    label {
      background: @dkBlue !important;
      color: white !important;
    }
  }
}