.about-box {
  .flex(1);
  padding-right: 20px;

  @media @mobile {
    padding-right: 0px;
  }
}

.colophon {
  .flex(1);
  display: block;
  padding-left: 20px;

  @media @mobile {
    padding-left: 0px;
  }
  
  .credits {
    font-size: 15px;
    padding: 0;
    list-style-type: none;

    li {
      padding-bottom: 5px;
    }
  }

  .subscribe-box {
    background: @df-light-gray;
    font-family: @df-sans;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;

    img {
      display: inline-block;
      padding-right: 10px;
      height: 20px;
    }
  }

  .button-box {
    padding-top: 10px;
  }

  .subscribe-button {
    display: inline-block;
    background: @dkOrange;
    padding: 12px 15px 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .08em;

    &:hover {
      background: @orange;
    }
  }
}

footer.bar {
  background: @dkBlue;
  opacity: 0.95;
  padding: 8px 8px 4px 8px;
  position: relative;
  z-index: 99;

  .logo {
    float: left;
    margin-right: 10px; 
    
    img {
      margin-top: 5px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }

  .share.bottom {
    float: right;
    margin-top: 2px;

    label {
      background: @dkBlue !important;
      color: white !important;
    }
  }
}