.question-box {
  max-width: 630px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid @df-light-gray;
  font-family: @df-sans;
}

.question {
  font-weight: bold;
}

.option {
  border: 1px solid @df-light-gray;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;

  &:hover {
    background: @df-blue;
    border: 1px solid @df-blue;
    color: white;
  }
}

.answer {
  display: none;
  margin: 30px;
}

.toggle-label {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.toggle {
  padding: 5px 12px 3px 12px;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  background: @df-light-gray;
  font-size: 14px;

  &:hover {
    background: @df-middle-gray;
    color: white;
  }

  &.selected {
    background: darken(@st-dark-red, 15%);
    color: white;
  }
}

.explainer {
  font-family: @df-serif;
  font-size: 16px;
  padding-bottom: 20px;
}

.grid {
  margin-top: 10px;
  line-height: 10px;
}

.square {
  height: 15px;
  width: 15px;
  background: @st-light-green;
  display: inline-block;
  margin: 2px;
  transition: background .3s linear;
  cursor: pointer;

  &:hover, &.selected {
    border: 3px solid @df-dark-gray;
  }
}

.color-square(@attribute) {
  [data-filter="@{attribute}"] {
    .square.@{attribute} {
      background: @st-dark-red;
    }
  }
}

.color-square(age-0);
.color-square(age-20);
.color-square(age-30);
.color-square(age-40);
.color-square(age-50);
.color-square(age-60);
.color-square(age-70);
.color-square(male);
.color-square(female);
.color-square(asian);
.color-square(black);
.color-square(hispanic);
.color-square(multiple);
.color-square(native);
.color-square(white);
.color-square(knife);
.color-square(firearm);
.color-square(no-weapon);
.color-square(vehicle);
.color-square(fake);
.color-square(other);
.color-square(time-0);
.color-square(time-6);
.color-square(time-12);
.color-square(time-18);

.individual {
  font-size: 14px;
  background: @df-off-white;
  margin: 2px;
  margin-top: 10px;
  padding: 10px 15px;

  .divider {
    border-top: 1px solid @df-border-gray;
    margin-top: 4px;
    padding-top: 4px;
  }

  .name {
    font-weight: bold;
  }
}
