* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@fatface: Abril Fatface, @df-serif;

@import "seattletimes";
@import "social";
@import "audio";
@import "video";
@import "question";
@import "map";
@import "question";
@import "header";
@import "comments";
@import "footer";

.metadata {
  display: block;
  max-width: 900px;
  margin: auto;
  color: @df-middle-gray;
  font-size: 16px;
  font-family: @df-sans;

  .byline {
    font-size: 19px;
  }
}

h2 {
  font-family: @fatface;
  font-size: 26px;
}

main.story {
  max-width: 900px;
  padding: 0 10px;
  margin: auto;
  font-size: 17px;

  > * {
    width: 66%;

    @media @tablet {
      width: 100%;
    }
  }

  .deck {
    width: 100%;
  }

  aside.sidebar {
    float: right;
    padding: 16px;
    width: 32%;
    background: @df-light-gray;
    clear: both;
    margin-top: 12px;
    margin-bottom: 12px;

    &.pullquote {
      font-family: @df-sans;
      font-size: 24px;
      padding: 16px;
    }

    @media @tablet {
      margin-right: 0px;
      width: 50%;
    }

    @media @mobile {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }

  aside.image {
    width: 50%;
    float: right;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 16px;
    display: block;
    clear: right;

    .caption {
      font-family: @df-sans;
      font-size: 13px;
    }

    @media @tablet {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }
}

.thin-div {
  border-bottom: 1px solid @df-light-gray;
  margin-bottom: 15px;
  font-family: @df-sans;
  margin: auto;
  max-width: 900px;

  .center {
    position: relative;
    top: 15px;
    margin: auto;
    width: 145px;
    text-align: center;
    font-size: 20px;
    background: white;
  }
}

.nerdbox {
  padding: 16px;
  margin: 16px auto;
  background: @df-light-gray;
  font-size: 15px;
  max-width: 600px;
}

.dont-miss {
  .display-flex;
  .flex-wrap(wrap);
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
  max-width: 900px;
  font-size: 17px;
  font-family: @df-sans;

  .story {
    .flex(0 0 25%);

    @media @mobile {
      .flex(1 1 50%)
    }
  }
  .padded {
    padding: 10px;
  }
  img {
    width: 100%;
  }
  a {
    color: @df-dark-gray;
    transition: color .1s linear;

    &:hover {
      color: @df-blue;
    }
  }
}