* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@fatface: Tinos, @df-serif;

@import "seattletimes";

@import "asides";
@import "audio";
@import "comments";
@import "footer";
@import "header";
@import "map";
@import "question";
@import "race";
@import "recirculation";
@import "story";
@import "video";

.share {
  z-index: 9999999;

  &.share-top {
    padding-top: 4px;
  }
}