<i class="hide-question fa fa-chevron-up"></i>

<div class="question"><%= title %></div>
<div class="options pending">
  <% options.forEach(function(option) { %>
    <div class="option <%= option.correct %>"><%= option.data %></div>
  <% }); %>
</div>
<div class="answer" data-filter="<%= filter %>">
  <div class="explainer">
    <%= explanation %>
  </div>
  <div class="toggle-label"><%= key %>:</div>
  <div class="toggle-container">
    <% toggles.forEach(function(toggle) { %>
      <div class="toggle <%= toggle.selected %>" data-filter="<%= toggle.data %>"><%= toggle.label %></div>
    <% }); %>
  </div>
  <%= typeof included !== "undefined" ? t.include(included) : "" %>
  <div class="mobile-grid-explainer">Each circle represents one person killed by police from 2005 to 2014:</div>
  <div class="grid-container">
    <section class="grid" data-sort="<%= sort %>"></section>
    <section class="individual"><span class="click"><i class="fa fa-long-arrow-left"></i> <em> Click on a circle for more information. Each circle represents one person killed by police from 2005 to 2014.</em></span></section>
  </div>
</div>
