<div class="weapon-icons">
  <div class="firearm">
    <% grunt.data.csv.weapons.forEach(function(weapon) { %>
      <% if (weapon.type == "firearm") { %>
        <img class="weapon-icon" title="<%=weapon.label%>" src="./assets/weapons/<%=weapon.image%>.png">
      <% } %>
    <% }); %>
  </div>
  <div class="fake">
    <% grunt.data.csv.weapons.forEach(function(weapon) { %>
      <% if (weapon.type == "fake") { %>
        <img class="weapon-icon" title="<%=weapon.label%>" src="./assets/weapons/<%=weapon.image%>.png">
      <% } %>
    <% }); %>
  </div>
  <div class="knife">
    <% grunt.data.csv.weapons.forEach(function(weapon) { %>
      <% if (weapon.type == "knife") { %>
        <img class="weapon-icon" title="<%=weapon.label%>" src="./assets/weapons/<%=weapon.image%>.png">
      <% } %>
    <% }); %>
  </div>
  <div class="other">
    <% grunt.data.csv.weapons.forEach(function(weapon) { %>
      <% if (weapon.type == "other") { %>
        <img class="weapon-icon" title="<%=weapon.label%>" src="./assets/weapons/<%=weapon.image%>.png">
      <% } %>
    <% }); %>
  </div>
</div>