<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <header class="splash">
      <h1>Shielded by the law</h1>
    </header>

    <main class="story">
      <%= markdown.story %>
    </main>

    <footer class="colophon">
      <ul class="credits">
        <li> <b>Reporting</b>: Steve Miletich, Christine Willemsen
        <li> <b>Research</b>: Miyoko Wolf, Justin Mayo
        <li> <b>Development</b>: Thomas Wilburn, Audrey Carlsen
        <li> <b>Design</b>: Frank Mina
    </footer>

    <script>
      var deadlyForceData = <%= JSON.stringify(csv.deadlyForceData) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
