<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <%= t.include("partials/_dfHeader.html") %>

    <header class="splash no-js">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <div class="stage">
            <div class="opening">
              212 people were killed by police in Washington from 2005 to 2014.
            </div>
            <div class="dots">
              <% for (var i = 0; i < 211; i++) { %>
              <div class="spacer">
                <div class="dot"></div>
              </div>
              <% } %>
              <div class="spacer">
                <div class="conviction">
                  <a class="play-video">Play<br>video</a>
                </div>
              </div>
            </div>
            <div class="closing">
              One officer was charged.
            </div>
            <h1>Shielded by the law</h1>
          </div>
        </div>
      </div>
    </header>
    
    <!-- trigger styles -->
    <script>document.querySelector("header.splash").classList.remove("no-js")</script>
    
    <h2 class="deck">While most killings by police are deemed justified, controversial cases are nearly impossible to prosecute under Washington’s unique law.</h2>

    <section class="metadata">
      <div class="byline">By Steve Miletich, Christine Willmsen, Mike Carter, and Justin Mayo</div>
      <div class="date">Published September 26, 2015</div>
    </section>

    <main class="story">
      <%= markdown.story %>
    </main>

    <section class="nerdbox">
      <h2>About this project</h2>
      <p>
        We were determined to find out how often police in our state kill citizens in the line of duty and under what circumstances. While the FBI collects data nationally on justifiable homicides by police, law-enforcement agencies are not required to submit such incidents. According to some studies, the FBI totals each year are significant undercounts, which can be misleading. 
      </p>
      <p>
        To authoritatively examine the issue in Washington, The Seattle Times made public-records requests to prosecutors in each of the state’s 39 counties, seeking records about killings by police during the 10 years from 2005 to 2014. Reporters also obtained information from a statewide database of death records. They also used interviews, newspaper stories and other records to assemble this definitive, first-ever database of 212 killings by Washington law enforcement. Visit our repository to view <a href="https://github.com/seattletimes/police-shootings/blob/master/data/deadly-force-data.csv">this database</a> and <a href="https://github.com/seattletimes/police-shootings/">other source code</a>.
      </p>
    </section>

    <section class="comments">
      <div class="load-comments">View Comments</div>
      <div id="livefyre-app-custom-1442856951313" class="comment-block"></div>
    </section>

    <section class="thin-div">
      <div class="center">Related Stories</div>
    </section>

    <section class="dont-miss">
      <div class="story">
        <div class="padded">
        <a href="http://www.seattletimes.com/seattle-news/police-video-documents-fatal-encounter-between-officer-and-woodcarver/">
          <img src="./assets/related1.jpg"></img>
        </a>
        <a href="http://www.seattletimes.com/seattle-news/police-video-documents-fatal-encounter-between-officer-and-woodcarver/">
          <div>Police video documents fatal encounter between officer and woodcarver</div>
        </a>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://www.seattletimes.com/seattle-news/officer-birk-quits-after-spd-rebuke/">
          <img src="./assets/related2.jpg"></img>
        </a>
        <a href="http://www.seattletimes.com/seattle-news/officer-birk-quits-after-spd-rebuke/">
          <div>Officer Birk quits after SPD rebuke</div>
        </a>
        </div>
      </div>
      <div class="story">
        <div class="padded">
          <a href="http://www.seattletimes.com/seattle-news/spokane-excessive-force-saga-may-hold-lessons-for-seattle/">
            <img src="./assets/related3.jpg"></img>
          </a>

          <a href="http://www.seattletimes.com/seattle-news/spokane-excessive-force-saga-may-hold-lessons-for-seattle/">
            <div>Spokane excessive-force saga may hold lessons for Seattle</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://www.seattletimes.com/seattle-news/jury-acquits-everett-officer-of-murder-manslaughter/">
          <img src="./assets/related4.jpg"></img>
        </a>
        <a href="http://www.seattletimes.com/seattle-news/jury-acquits-everett-officer-of-murder-manslaughter/">
          <div>Jury acquits Everett officer of murder, manslaughter</div>
        </a>
        </div>
      </div>
    </section>

    <footer class="colophon">
      <h2>Credits</h2>
      <ul class="credits">
        <li><b>Reporters</b>: Steve Miletich, Christine Willmsen, Mike Carter 
        <li><b>Database reporter</b>: Justin Mayo 
        <li><b>Developers</b>: Thomas Wilburn, Audrey Carlsen, Emma O’Neill  
        <li><b>Graphic artist</b>: Mark Nowlin 
        <li><b>Project editor</b>: James Neff 
        <li><b>Video and audio editors</b>: Lauren Frohne, Danny Gawlowski 
        <li><b>Copy editor</b>: Laura Gordon 
        <li><b>Design editor</b>: Frank Mina 
        <li><b>Photo editor</b>: Fred Nelson 
        <li><b>Print designer</b>: Rick Lund 
        <li><b>Producer</b>: Gina Cole 
        <li><b>Researcher</b>: Miyoko Wolf 
      </ul>
    </footer>

    <script>
      var deadlyForceData = <%= JSON.stringify(csv.deadlyForceData) %>;
      var lawsByState = <%= JSON.stringify(csv.laws) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
